<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>

    <add key="WebserviceLib" value="https://tfs-hip.cs.upb.de/tfs/DefaultCollection/_packaging/WebserviceLib/nuget/v3/index.json" />

  </packageSources>
  <packageSourceCredentials>
    <WebserviceLib>
      <add key="Username" value="pms" />
      <add key="ClearTextPassword" value="c3qpn3ykmwkg5gmjdmg23bxcyrkebhk74ktcqx2s75m4rci2gseq" />
    </WebserviceLib>
  </packageSourceCredentials>
  <apikeys>
    <add key="https://tfs-hip.cs.upb.de/tfs/DefaultCollection/_packaging/WebserviceLib/nuget/v3/index.json" value="k3ZBrgb6V8lvCIpBgYSaNXecWcz5K+Ss2sn0/+DrMaDpAHY5Ds3/Ix24VX2E2MJCha8mDhL2r3XInosdJN+g2u9Cn9MINm/0PJXgLfKsrJldhBLsGrSYeNA7ooA5GrDGE4whTNkyIL/jlhugrFbIoZ4MsV49Oo2aoD3pcqilK4ltJzP2s6L+e3/5Hdw3+1igeTph0Ay0RpN/lzOcQgeY2JBJvzEw+MqoBUt2xZIYBnhhf/I/we4wm7zUYLN94IHXoSqLd02b+0d6FyTTY3DNYCiRUtbm5Pi3Vz4E4BHJuY2pXMaiL5L91jKm0C+f6yiVrvVvhqm69HlieMtbqIb+sg==" />
  </apikeys>
</configuration>
