<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>

    <add key="WebserviceLib" value="https://tfs-hip.cs.upb.de/tfs/DefaultCollection/_packaging/WebserviceLib/nuget/v3/index.json" />

  </packageSources>
  <packageSourceCredentials>
    <WebserviceLib>
      <add key="Username" value="pms" />
      <add key="ClearTextPassword" value="c3qpn3ykmwkg5gmjdmg23bxcyrkebhk74ktcqx2s75m4rci2gseq" />
    </WebserviceLib>
  </packageSourceCredentials>
</configuration>
